# History files
.RData
.Rhistory
.Rapp.history
.Rbuildignore
data/.directory
inst/doc/.directory
inst/doc/.gitignore
inst/doc/cache
inst/doc/figure/
inst/doc/*.tex
inst/doc/*.log
inst/doc/*.gz



# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# package
.Rproj.user

# src
src/*.o
src/*.so

data/.directory

