import(parallel)
import(locfit)
import(DESeq2)
importFrom(genefilter,rowVars)
import(Rcpp)
export(xtail)
export(plotFCs)
export(plotRs)
export(volcanoPlot)
export(summary.xtailResults)
export(resultsTable)
export(write.xtail)
useDynLib(xtail)

